// :::: $vars ::::

$brand-primary: #444;
$btn-primary: $brand-primary / 2;
$btn-hover: #31b1c1;
$black: #000;
$white: #fff;
$box-std: 40%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;

// :::: global styles ::::

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary * 3;
}

h2 {
  font-size: 3vw;
  text-align: center;
  margin-bottom: $gutter-std;
}

button {
  float: right;
  width: $box-std;
  padding: 2% 0;
  background: $btn-primary / 3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

input[type="text"] {
  float: left;
  width: $box-std + 10%;
  margin-right: $gutter-std / 2;
  padding: 2%;
  border: none;
  border-radius: 3px;
}

pre {
  font-family: monospace;
  margin: $gutter-std;
}

// :::: app styles ::::

.container {
  float: left;
  width: $box-std;
  margin: 5%;
}

.text-binder {
  height: 15vw;
  font-size: 3vw;
  margin: $gutter-std;
  padding: 1vw;
  color: $white;
  background: $brand-primary / 3;
  border: dotted .25vw $brand-primary;

  + input {
    width: 100%;
  }
}
