<section class="home-content">
  <h2>Welcome home!</h2>
  <create-gallery></create-gallery>


  <select
    name="gallery selection"
    ng-options="item as item.name for item in homeCtrl.galleries track by item._id"
    ng-model="homeCtrl.currentGallery">
  </select>

  <ul>
    <gallery-item ng-repeat="item in homeCtrl.galleries | customSort : homeCtrl.galleryLimit" gallery="item"></gallery-item>
  </ul>
  <input type="number" ng-model="homeCtrl.galleryLimit" placeholder="100" value="100">

  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>
</section>
