html, body {
  font-family: helvetica;
  background-color: gray;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:350ms linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

// /* now the element will fade out before it is removed from the DOM */
// .fade.ng-leave {
//   transition:350ms linear all;
//   opacity:1;
// }
// .fade.ng-leave.ng-leave-active {
//   opacity:0;
// }
